<h1>Usuarios registrados:</h1>
<div class="usuarios-registrados">
  {{#each usuarios}}
    <div>
      #{{this.id}} - 
      Nome: <span class="bold"><a href="/usersid/{{this.id}}">{{this.nome}}</a></span>
      /  E-mail: {{this.email}}
      /  Idade: {{this.idade}}
      /  CPF: {{this.cpf}}
    </div>
  {{/each}}
</div>